# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# Visual Studio / Rider
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
.idea/
.vscode/
*.asset
*.ttf

# OS generated
.DS_Store
Thumbs.db
